# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env

# VSCode/PyCharm
.vscode/
.idea/

# Virtual environments
.venv/
env/
venv/

# Pytest
.pytest_cache/
htmlcov/

# Applitools artifacts
.applitools/
